<div class="about-opis">

<h2>
    Opis aplikacije
</h2>
<p>
    Aplikacija predstavlja prototip korisnickog interfejsa digitalnog saltera bioskopa.
</p>
<p>
    Aplikacija omogucava pretragu i rezervaciju filmskih karata. Sadrzi predefinisan ponudjen skup projekcija filmova. <br>
    Omogucena je pretraga predefinisanog skupa prema nazivu, zanru, trajanju, producentu, glumcima, datumu izlaska, projekcije kao i rejtingu filmova. <br>
    Korisnik moze da rezervise, kao i da detaljno pogleda film, koji sadrzi njegov kratak opis kao i sve vec pomenute detalje o filmu. <br>
    Korisnik moze da napravi profil, menja sifru profila. Nakon sto napravi profil korisniku ce biti dodeljena korpa u kojoj moze da pogleda rezervisane filmove. <br>
    Uz rezervisane filmove, takodje ima i ukupnu cenu svih rezervisanih filmova. Korinsik sa svog profila moze da oceni filmove pozitivno ili negativno. <br>
    Iz svoje korpe korisnik moze da ukloni film iz rezervacije.
</p>
<p>

</p>
</div>