.profile-card {

    background-color: #a0bbfc;
    margin-bottom: 50px;
}


.search-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.table-wrapper {
    margin: 5%;
    border-radius: 15px;
}

.price {
    margin-left: auto;
    margin-right: 0;
    padding: 2%;
}