/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: linear-gradient(#a5c0ff, white);
    background-repeat: no-repeat;

}

.container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.example-card {
    max-width: 300px;
    display: flex;
}

.search {
margin-left: 200px;
}    

