<app-search-container />

<div class="container">
  <div *ngFor="let movie of movies">
    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image [src]="[generateImageUrl(movie.id)]" alt="{{movie.name}}">  
      <div class="second-half">
        <mat-card-title class="title">
          <h3>{{movie.name}}</h3>
        </mat-card-title>
      <mat-card-actions class="button-pos">
        <a mat-button [routerLink]="['/movie/',movie.id]">
          <i class="fa-solid fa-circle-info"></i>Details</a>
          <a mat-button (click)="bookMovie(movie)">
            <i class="fa-solid fa-up-right-from-square"></i> Book now
        </a>
    </mat-card-actions>
      </div>
</mat-card>
    </div>