
.second-half {
    height: 200px;
    justify-content: center;
    gap: 50px;
}

.title {
    height: 100px;
}

.button-pos {
    margin-top: 20px;
}



.container {
    padding-left: 5%;
    padding-right: 5%;
}